{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<div class="container mt-4">

<div class="card shadow-sm col-md-7">
<div class="card-body">
<p class="mb-3">
  <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
</p>

<h5 class="card-title">Add Entry</h5>

<form action="{% url 'learning_logs:new_entry' topic.id %}" method="post">
{% csrf_token %}

{{ form.as_div }}

<button class="btn btn-primary mt-3">
Add Entry
</button>

</form>

</div>
</div>

</div>
{% endblock content %}